Django==1.9.7
django-appconf==1.0.2
django-compressor==1.4
django-contrib-comments==1.7.0
django-inventory==1.0rc1
django-modelcluster==1.1
django-pagination==1.0.7
django-photologue==2.3
django-solo==1.0.5
django-summernote==0.8.5
django-taggit==0.18.1
django-tinymce==2.3.0
django-treebeard==4.0
djangorestframework==3.3.3
mysql-connector-python==2.0.4
MySQL-python==1.2.5
mysqlclient==1.3.7
