beautifulsoup4==4.4.1
behave==1.2.5
bleach==1.4.2
cffi==1.4.2
characteristic==14.3.0
chardet==2.3.0
click==6.2
corenlp-python==3.4.1.post1
cp210x-program==1.0
Creoleparser==0.7.4
cryptography==1.1.2
cssselect==0.9.1
cubes==1.1
d3py==0.2.3
demjson==2.2.4
Django==1.9.7
django-appconf==1.0.2
django-compressor==1.4
django-contrib-comments==1.7.0
django-inventory==1.0rc1
django-modelcluster==1.1
django-pagination==1.0.7
django-photologue==2.3
django-solo==1.0.5
django-summernote==0.8.5
django-taggit==0.18.1
django-tinymce==2.3.0
django-treebeard==4.0
djangorestframework==3.3.3
enum34==1.1.2
expressions==0.2.2
filebrowser-safe==0.4.3
Flask==0.10.1
Flask-Composer==0.4.1
Flask-Cors==2.1.2
Flask-MySQL==1.3
Flask-MySQLdb==0.2.0
Flask-OpenID==1.2.5
functools32==3.2.3.post2
future==0.15.2
Genshi==0.7
grako==3.6.7
grappelli-safe==0.4.2
html5lib==0.9999999
idna==2.0
ipaddress==1.0.16
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
lxml==3.5.0
MarkupSafe==0.23
Mezzanine==4.1.0
mysql-connector-python==2.0.4
MySQL-python==1.2.5
mysqlclient==1.3.7
nameparser==0.3.11
nltk==3.1
oauthlib==1.1.0
parse==1.6.6
parse-type==0.3.4
Pattern==2.6
peewee==2.8.0
pexpect==4.0.1
Pillow==2.5.1
plotly==1.9.6
pony==0.6.5
ptyprocess==0.5.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
pycrypto==2.6.1
Pygments==2.1.3
pymongo==3.2.1
pyOpenSSL==0.15.1
pyserial==3.0
python-dateutil==2.4.2
python-openid==2.2.5
pytz==2015.7
queuelib==1.4.2
requests==2.5.1
requests-oauthlib==0.6.1
scrapy==1.0.4
service-identity==14.0.0
Sijax==0.3.2
six==1.10.0
slate==0.3
South==1.0
SQLAlchemy==1.0.11
textblob==0.11.1
twisted==15.5.0
tzlocal==1.2.2
Unidecode==0.4.19
virtualenv==14.0.6
w3lib==1.13.0
wagtail==1.4.3
Werkzeug==0.11.3
Whoosh==2.7.4
Willow==0.3
wordcloud==1.2.1
xlrd==0.9.4
zope.interface==4.1.3
