{% extends "base.html"%}
{% load staticfiles %}

{% block content %}

  <script src="{% static "js/pace.min.js"%}"></script>
  <link rel="stylesheet" type="text/css" href="{% static "css/pace.css" %}"/>
<script type="text/javascript">
$(document).ready(function(){
  $('#alert').hide();
    Materialize.toast('Searching'+b, 4000);
  });



  function search() {

    b=$('input').val();

    a='http://www.bigtalkindia.com/search/'
    c=a+b
    document.location.href=c
    Materialize.toast('Searching'+b, 4000)
  }

</script>

<center><h1 style="font-family: rishabh; color: seagreen; margin-top: 100px; " >Big Talk Search</h1></center>
<div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="search" class="autocomplete">
          <label for="autocomplete-input">Search News</label>
          <center><button onclick="search();" class="btn waves-effect waves-light" type="submit" name="action">Search 
    <i class="material-icons right">send</i>
  </button></center>
        </div>
      </div>
    </div>









    <div id="cards" class="col s12">
    {% if message == "" %}
     {% for j in section %}
            {% for i in card %}
              <!-- {% if i.section_id == j.id and i.top == "Normal" %} -->
                <div class="col s12 m6 l4">
                  <div class="card" onClick="document.location.href='http://www.bigtalkindia.com/news/{{i.title|safe|escape}}'" style="color:{{i.font_color}};background-color:{{i.background_color}};height:400px;cursor: pointer;">
                    <div class="card-image">
                      <img style="height: 200px; width: 100%; " src="{% static 'uploads/' %}{{i.image}}">
                      

                      
                    </div>
                    <span class="card-title" style="font-size: 18px;  "><b>{{i.title|safe|escape}}</b></span>
                    <div class="card-content" style="padding: 2px;">
                      <p style="font-size: 13px;">
                        {{i.intro_text|safe|escape}}
                        <a style="color:  {{i.font_color}};">
                          <br>
                          <u style="font-size: 12px; ">Read more...</u>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              <!-- {% endif %} -->
            {% endfor %}
      {% endfor %}
      {% endif %}
      {% if message != "" %}
          <center><h4 id="alert" style="font-family: rishabh; ">No matches found !!!</h4></center>
          <script type="text/javascript">
            Materialize.toast('Searching'+b, 4000)
            alert();
          </script>
      {% endif %}

</div>
  </div>      
  
 
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80321000-1', 'auto');
  ga('send', 'pageview');

</script>       

{% endblock %}



